*.html
*.R
*.knit.md
# Generic _files/ dirs from ad-hoc renders are ignored, but the figures of
# pre-rendered vignettes (knit from a *.Rmd.orig) must ship.
*_files/
!msamodel-intro_files/
!dr2n-analysis_files/
