*.html
*.R
*.knit.md
# Generic _files/ dirs from ad-hoc renders are ignored, but the figures of
# pre-rendered vignettes (knit from a *.Rmd.orig) must ship.
*_files/
!msamodel_files/
!site-analysis_files/
!mode-analysis_files/
!msamodel-v2_files/
!site-analysis-v2_files/
!mode-analysis-v2_files/
!inference-methods-v2_files/
